<br>

<% if @user.coach == true%>
<%= link_to 'Coach Someone Else', users_path %><br><br>
<% else %>
<br><%= link_to 'Back to my profile', user_path(@user) %> <br><br>  
<% end %>
<h2><%= User.find_by_id(params[:user_id]).name %>'s Log</h2>

<%= link_to 'Add a new note', new_user_note_path %>

<% @available_notes.each do |n| %><br><br>
    <h4>Author: <%= @users.find_by_id(n.creator_id).name %></h4>
    <strong>For:</strong> <%= @users.find_by_id(n.target_id).name %><br>
    <strong>Content:</strong> <%= n.content %><br>
    <strong>Content:</strong> <%= n.category.name %><br>
    <strong>Priority:</strong> <%= n.level_id %><br>
        <% if n.creator_id == @user.id %>
            <%= link_to 'Delete', note_path(n.id), method: :delete, data: { confirm: 'Are you sure?' } %> - 
            <%= link_to 'Edit', edit_note_path(n.id), method: :get %>
        <% end %>
<% end %>

