<br><br><br><br>
<%= link_to 'Add a new note', new_user_note_path %>
<% @available_notes.each do |n| %><br><br>
<h4>Author: <%= @users.find_by_id(n.creator_id).name %></h4>
For: <%= @users.find_by_id(n.target_id).name %><br>
Content: <%= n.content %><br>
Priority: <%= n.level_id %><br>
<% end %>