
<h3>Sign Up</h3>
	<%= form_for @user, html: {class: "form"} do |f| %>
		<%= f.text_field :username, placeholder: "username" %><br>
		<%= f.text_field :name, placeholder: "your name" %><br>
		<%= f.password_field :password, placeholder: "password" %><br>
		I'm a coach<%= f.check_box :coach %><br>
		<%= f.submit "Sign-Up" %>
	<% end %>

		<% if @user.errors.any? %>
            <% @user.errors.each do |e| %>
            <h3><%= e.full_message %></h3>
            <% end %>
        <% end %><br>