<br><br>
<h1>Welcome <%= current_user.name %>
    <% if @user.coach == true %>
        <%= " -- Coach" %></h1><br><br>
        <h4><%= @quote_list.sample %></h4>
        <h2><%= link_to 'List of Teachers', users_path %></h2>
    <% else %>
        <%= " -- Teacher" %></h1><br><br>
        <h4>Test</h4>
        <h2><%= link_to 'Take a look at your coaching log', user_notes_path(@user.id) %></h2>
    <% end %>
<br><br>
