<br><br>
<img src="<%= current_user.image %>" class="profile_pic">
<h1>Welcome <%= current_user.name %>
    <% if @user.coach == true %>
        <%= " -- coach" %></h1><br><br>
        <h2><%= link_to 'List of Teachers', users_path %></h2>
    <% else %>
        <%= " -- teacher" %></h1><br><br>
        <h2><%= link_to 'Take a look at your coaching log', user_notes_path(@user.id) %></h2>
    <% end %>
<br><br>