
<h1>User Show Page</h1>
Name: <%= @user.name %><br><br>
This user is a 
    <% if @user.coach == true %>
        <%= "coach" %><br><br>
        <%= link_to 'List of Teachers', users_path %>
    <% else %>
        <%= "teacher" %><br><br>
        <%= link_to 'Take a look at your coaching log', user_notes_path(@user.id) %>
    <% end %>
<br><br>


